<% layout("/layout/boilerplate")%>


<div class="row mt-4">
    <div class="col-6 offset-3">
        <form method="post" action="/login">
            <div class="mb-3">
              <label for="exampleInputUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputUsername" name="username" required>
            </div>
        
    
              <div class="mb-3">
                <label for="exampleInputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" name="password" required>
              </div>
        
            <button type="submit" class="btn btn-success">Login</button>
          </form>
    </div>
</div>
